<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <p class="text-body-secondary">© 2023</p>
        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">
            <h5>Информация о сайте</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Наш адрес</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">О компании</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Наша поддержка</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Возможности</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Контакты</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Вопросы и ответы</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Правила сайта</a></li>
            </ul>
        </div>
    </footer>
</div>