<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-white">Главная страница</a></li>
        <li class="nav-item"><a href="/books/main" class="nav-link px-2 text-white">Каталог</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-white">О нас</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Список таблиц</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-black" href="/categories/main">Категории</a></li>
            <li><a class="dropdown-item text-black" href="/authors/main">Авторы</a></li>
            <li><a class="dropdown-item text-black" href="/publishers/main">Издатели</a></li>
            <li><a class="dropdown-item text-black" href="/statuses/main">Статусы</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-black" href="/readers/main">Читатели</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-black" href="/bookings/main">Бронирование</a></li>
            <li><a class="dropdown-item text-black" href="/loan/main">Выдача</a></li>
          </ul>
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark" placeholder="Поиск..." aria-label="Поиск">
      </form>

      <!-- Иконка пользователя -->
      <div class="dropdown text-end">
        <a href="/" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/images/user-icon.png" alt="mdo" width="32" height="32" class="rounded-circle" style="max-height: 32px;">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">Настройки</a></li>
          <li><a class="dropdown-item" href="/reader/details/1">Профиль</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Выход</a></li>
        </ul>
      </div>

      <!--<div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Вход</button>
        <button type="button" class="btn btn-warning">Регистрация</button>
      </div>-->
    </div>
  </div>
</header>
