<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Каталог книг</title>
</head>
<body>
<!--Часть header-->
<th:block th:replace="main/header :: header"></th:block>
<!--Часть main-->
<main>
    <div class="container mt-5">
        <!-- Форма для фильтрации -->
        <form action="/books/filter" method="get">
            <div class="row mb-3">
                <div class="col-md-4">
                    <h5>Фильтр по автору:</h5>
                    <div th:each="author : ${authors}">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="authorFilter" name="authors" th:value="${author.id}">
                            <label class="form-check-label" th:for="${'authorFilter-' + author.id}" th:text="${author.toString()}"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Фильтр по издателю:</h5>
                    <div th:each="publisher : ${publishers}">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="publisherFilter" name="publishers" th:value="${publisher.id}">
                            <label class="form-check-label" th:for="${'publisherFilter-' + publisher.id}" th:text="${publisher.name}"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Фильтр по категории:</h5>
                    <div th:each="category : ${categories}">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="categoryFilter" name="categories" th:value="${category.id}">
                            <label class="form-check-label" th:for="${'categoryFilter-' + category.id}" th:text="${category.name}"></label>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Применить фильтры</button>
        </form>

        <h2>Каталог книг</h2>
        <div class="row">
            <div class="col-md-3" th:each="book : ${books}">
                <div class="card mb-4 border-0">
                    <img th:src="@{/images/{imagePath}(imagePath=${book.image})}" class="card-img-top mx-auto" style="width: 200px; height: 310px; object-fit: cover;" alt="Book Image">
                    <div class="card-body">
                        <h5 class="card-title text-center" th:text="${#strings.length(book.title) > 25 ? #strings.substring(book.title, 0, 25) + '...' : book.title}"></h5>
                        <a th:href="@{/books/details/{id}(id=${book.id})}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--Часть footer-->
<th:block th:replace="main/footer :: footer"></th:block>
<!--Часть скриптов-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
