<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Бронирование</title>
</head>
<body>
<!-- Часть header -->
<th:block th:replace="main/header :: header"></th:block>
<!-- Часть main -->
<main>
    <div class="container mt-4">
        <h2>Список бронирования книг</h2>
        <a th:href="@{/bookings/new}" class="btn btn-success mb-3">Добавить новую запись</a>
        <table class="table">
            <thead>
            <tr>
                <th>Номер</th>
                <th>Книга</th>
                <th>Читатель</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking : ${bookings}">
                <td th:text="${booking.id}"></td>
                <td th:text="${booking.book.title}"></td>
                <td th:text="${booking.reader.toString()}"></td>
                <td>
                    <a th:href="@{/bookings/update/{id}(id=${booking.id})}" class="btn btn-warning btn-sm">Изменить</a>
                    <a th:href="@{/bookings/delete/{id}(id=${booking.id})}" class="btn btn-danger btn-sm">Удалить</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<!--Часть footer-->
<th:block th:replace="main/footer :: footer"></th:block>
<!--Часть scripts-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>