<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детализация читателя</title>
</head>
<body>
<!-- Часть header -->
<th:block th:replace="main/header :: header"></th:block>
<!-- Часть main -->
<main>
    <div class="container mt-4">
        <div class="card mt-4 border-0">
            <div id="categoryInfo" class="collapse show">
                <div class="card-body">
                    <h3>ФИО: <span th:text="${selectedReader.toString()}"></span></h3>
                    <a th:href="@{/readers/update/{id}(id=${selectedReader.id})}" class="btn btn-warning">Редактировать читателя</a>
                    <a th:href="@{/readers/delete/{id}(id=${selectedReader.id})}" class="btn btn-danger">Удалить читателя</a>
                    <h4>Список забронированных(желаемых) книг:</h4>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Авторы</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="booking : ${selectedReader.bookings}">
                            <td th:text="${booking.book.title}"></td>
                            <td>
                                <span th:each="bookAuthor, iterStat : ${booking.book.authors}">
                                    <span th:text="${bookAuthor.author.toString()}"></span>
                                    <span th:if="${not iterStat.last}">, </span>
                                </span>
                            </td>
                            <td>
                                <a th:href="@{/books/details/{id}(id=${booking.book.id})}" class="btn btn-primary">Подробнее о книге</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <h4>Список выданных книг:</h4>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Номер экземпляра</th>
                            <th>Название</th>
                            <th>Дата выдачи</th>
                            <th>Дата возврата</th>
                            <th>Статус выдачи</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="loan : ${selectedReader.loans}">
                            <td th:text="${loan.copyBook.id}"></td>
                            <td th:text="${loan.copyBook.book.title}"></td>
                            <td th:text="${loan.loan_date}"></td>
                            <td th:text="${loan.return_date}"></td>
                            <td th:text="${loan.loan_status.name}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<!--Часть footer-->
<th:block th:replace="main/footer :: footer"></th:block>
<!--Часть скриптов-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>