<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Изменение Статуса</title>
</head>
<body>
<!-- Часть header -->
<th:block th:replace="main/header :: header"></th:block>
<!-- Часть main -->
<h2 class="mt-5">Редактирование статуса</h2>
<form action="#" th:action="@{/statuses/update}" method="post" th:object="${status}">
    <input type="hidden" name="_method" value="post" />
    <div class="mb-3">
        <input type="hidden" th:field="*{id}"/>
        <label for="name" class="form-label">Название:</label>
        <input type="text" id="name" name="name" class="form-control" th:field="*{name}" required />
    </div>
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    <a href="/statuses/main" class="btn btn-secondary">Отмена</a>
</form>
<!--Часть footer-->
<th:block th:replace="main/footer :: footer"></th:block>
<!--Часть scripts-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>